# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=popcorn

# Next.js Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# NextAuth Configuration
NEXTAUTH_SECRET=PHefVhV3UuOMs9UEfT1xm7GABXCoDJh24J9wG1dbCNIQG8saw1i7IIhtlza2hBjEH4ZyuyCkhgjz4sfT5CnigIfMC7MCWRA96KhP
NEXTAUTH_URL=http://localhost:3000
OPENAI_API_KEY="